@use "sass:map"
@use "../var"

body
    margin: 0

    nav
        display: flex
        justify-content: center
        align-items: center
        height: 70px
        
        & > p
            background-color: var.$light-grey
            padding: 10px
            margin: 0
            font-family: "roboto"
            cursor: pointer

    #main
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 70vh

        .row
            display: flex

            .cell
                background-color: var.$light-grey
                margin: 2px
                width: 50px
                height: 50px
                cursor: pointer

                &.selected
                    background-color: var.$grey
                
                div
                    width: 0
                    height: 0
                    position: relative
                    z-index: 1

                    .tab
                        background-color: black
                        border-radius: 90px
                        border: white solid 4px
                        position: relative
                        top: -29px
                        left: -29px

@media (max-width: map.get(var.$bp, 'tablet'))
